/* Body Styles
================================== */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  background-color: #212121;
  min-height: 100%;
}

.main-wrapper {
  width: 808px;
  height: 600px;
  margin: 0 auto;
  padding-top: 40px;
}

/* Control Styles
================================== */

.controls {
  display: inline-block;
  width: 100px;
  height: 600px;
  vertical-align: top;
  background-image: linear-gradient(45deg, #212121 10%, rgba(200,200,200,1));
}

.start,
.side,
.theme {
  display: inline-block;
  width: 100%;
  height: 200px;
}

.side,
.theme {
  border-top: solid #212121;
}

#play-button {
  display: block;
  margin: 80px auto;
  width: 65px;
  height: 25px;
  padding: 0;
  font-weight: 700;
  background-color: #e1dada;
  box-shadow: inset 0px 2px 0px #fff;
  border: none;
  outline: none;
  border-radius: 20px;
}

#play-button:active {
  box-shadow: inset 0px -3px 0px rgba(255,255,255,0.4),
              inset 0px 3px 3px rgba(0,0,0,0.04);
}

.side label,
.theme label {
  display: block;
  color: #fbfbfb;
  font-size: .9em;
  text-align: center;
  margin-top: 50px;
}

#choose-side,
#choose-theme {
  display: inline-block;
  width: 78px;
  margin: 10px;
}

/* Board Styles
================================== */

.board {
  display: inline-block;
  width: 604px;
  height: 600px;
}

.rank {
  height: 75px;
}

.square {
  display: inline-block;
  width: 75px;
  height: 100%;
  background-color: #fbfbfb;
  margin-bottom: -4px;
}

.square:not(:nth-of-type(8n+1)) {
  margin-left: -4px;
}

.rank:nth-child(odd) .square:nth-child(even),
.rank:nth-child(even) .square:nth-child(odd) {
  background-color: #4c4c4c;
}

/* Progress Styles
================================== */

.progress-panel {
  display: inline-block;
  width: 100px;
  height: 600px;
  margin-left: -4px;
  background-image: linear-gradient(225deg, #212121 10%, rgba(200,200,200,1));
  vertical-align: top;
  text-align: center;
  font-size: .9em;
  color: #fbfbfb;
  text-decoration: underline;
}

.current-coordinate,
.final-score {
  display: inline-block;
  width: 100%;
  height: 300px;
}

.final-score {
  border-top: solid #212121;
}

.progress-bar {
  margin-top: 5px;
  height: 5px;
  background: repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,0) 12px), linear-gradient(#5fcf80,#5faa70);
  -webkit-animation: slide 30s linear;
  animation: slide 30s linear;
}

#current-coordinate-holder p,
#final-score-holder p {
  margin-top: 80px;
  font-size: 1.6em;
}

#final-score-holder p {
  font-size: 2em;
  color: gold;
}

/* Piece Styles
================================== */

#A8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#B8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#C8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#D8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
  
}

#E8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#F8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#G8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#H8 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#A7,
#C7,
#E7,
#G7 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#B7,
#D7,
#F7,
#H7 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#A2,
#C2,
#E2,
#G2 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg)
    center / 90% 90%
    no-repeat,
    #fbfbfb;
}

#B2,
#D2,
#F2,
#H2 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#A1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#B1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg)
    center / 90% 90%
    no-repeat
    #fbfbfb;
}

#C1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#D1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg)
    center / 90% 90%
    no-repeat
    #fbfbfb;
}

#E1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#F1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg)
    center / 90% 90%
    no-repeat
    #fbfbfb;
}

#G1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg)
    center / 90% 90%
    no-repeat
    #4c4c4c;
}

#H1 {
  background:
    url(http://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg)
    center / 90% 90%
    no-repeat
    #fbfbfb;
}

/* Keyframes
================================== */

@-webkit-keyframes slide {
  0% {width: 0%;}
  100% {width: 100%;}
}

@keyframes slide {
  0% {width: 0%;}
  100% {width: 100%;}
}



